<section class="page_404">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <!-- <img ng-src="images/404.gif" alt=""> -->
        <div class="content text-center">
          <svg class="error" viewBox="0 0 300 240">
            <symbol id="s-text">
              <text text-anchor="middle" x="50%" y="50%">404</text>
            </symbol>

            <g class="g-ants">
              <use xlink:href="#s-text" class="text"></use>
              <use xlink:href="#s-text" class="text"></use>
              <use xlink:href="#s-text" class="text"></use>
              <use xlink:href="#s-text" class="text"></use>
            </g>
          </svg>
        </div>
        <div class="text-center">
          <h3 class="h2">
            Look like you're lost
          </h3>
          <p>The page you are looking not avaible!</p>
          <a ui-sref="home" class="btn btn-danger px-5">Go to Home</a>
        </div><!-- /.text-center -->
      </div>
    </div>
  </div>
</section>

<link rel="stylesheet" href="./_error_page.scss">
