// COLORS
$color-1: rgb(226, 1, 50);
$color-2: rgb(179, 0, 0);
$color-3: rgb(255, 255, 255);
$color-bg-1: #fff;
$color-bg-2: #fff;

// FONTs
$font-1: '';
$font-2: '';
$font-3: '';

// SIZE
$size: 14px;
$size-sm: 12px;
$size-lg: 16px;
